* {
    font-family: 'Roboto', sans-serif;
}

.categoryHolder {
    position:relative;

}

.categoryHolder small {
    height: 800px;

}

.categoryInfo {
    position:relative;
    left: -70px;
    width:800px;
    margin-left:300px;
    display:none;
    overflow: hidden;

}

.container .categoryInfo img {
    float: left;
    margin-right: 15px;
}

.card-deck small {
    padding-top: 30px;
}

.container .categoryInfo p {
    padding-left: 140px;
    line-height: 30px;
    padding-top: 30px;
}

.presentation small {
    padding-top: 70px;
}

.presentation .link {
    text-align:center;
    position:relative;
}


.presentation .link img {
    padding-top: 50px;
    height: 160px;
    margin:0 auto;
}


.presentation.fixed .backCover {
    display:none;
}

.presentation .backCover {
    height:0px;
}

.presentation .backCover .cover {
    position:absolute;
    width:100px;
    height:500px;
    background-color:#B9ADAF;
    margin:0px auto;
    top:40px;
    right:0px;
    bottom:0px;
    left:0px;
}

.presentation .backCover .cover .border {
    position:absolute;
    top:10px;
    right:10px;
    bottom:10px;
    left:10px;
    border:10px solid #fff !important;
}


.presentation .container small {
    float: left;
}

.presentation .link.small h6 {
    display: none;
}

.presentation .small img {
    padding-top:0;
    width:70px;
    height:auto;
    float: right;
    margin-right:23px;
}

.presentation .small p {
    width:90px;
    float:left;
}

.presentation .link.active {
    margin-right:0px;
    position:absolute;
    top:0px;
    right:0px;
    width:100px !important;
}

.presentation .link.active img {
    width:160px !important;
}


.presentation {
    position:relative;
    margin-top:30px;
    margin-bottom:100px;
    background-color: #f8f9fa;
    height:600px
}

/*.card-deck {*/

    /*padding :50px;*/
    /*background-color: #f8f9fa;*/
    /*margin: 5px;*/
    /*width: 1200px;*/
    /*position: relative;*/
   /*margin-left: auto;*/
    /*margin-right: auto;*/
/*}*/


/*
.dropdown-toggle[aria-expanded="true"] {
    font-weight: bold;
    border-top: 3px solid #ef0937;
    transition: color 0.2s;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding-top:5px !important;
}

.dropdown-toggle:hover, .open .dropdown-menu {
    color:red !important;

}
*/


h6 {
    color: #333;
}

.modal-content {
    border: 0;
}

.dropdown-item:hover {
    color: #e31b22;
}

.dropdown-item:active {
    background-color: white;
}

.dropdown-toggle {
    color: white;
}

@media only screen and (max-width: 580px) {
    .presentation .link img {
        margin: 0 auto;
    }
}

@media only screen and (max-width: 760px) {
    /* For mobile phones: */
    .card-deck{
        width: 100%;

    }
}


footer {
    background: #e31b22;
    padding-top: 20px;
    padding-bottom: 20px;
    color: white;
    margin-top: 30px;
    /*position: absolute;*/
    /*bottom: 0;*/
    /*width: 100%;*/
}

footer .copyright {
    padding-top: 13px;
}

.fa {
    font-size: 20px;
    height: auto;
    float: right;
    width: 40px;
    border-radius: 10px;
    margin: 5px;
    color: white;
    padding-top: 25px;
}

footer .fa:before {
    display: block;
    width: 40px;
    padding: 10px 0;
    text-align: center;
}

.fa:hover {
    opacity: 0.9%;
    color: white;
}
